.meat-input {
  padding: 25px;
  background-color: #124281;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}



.meat-input-form {
  display:table-row;
}
.meat-input-item{
  font-size: 20px;
  display: table-cell;
  height: 50px;
  list-style-type: none;
  padding: 10px;
  vertical-align: middle;
}

input {
  width: 100px;
}

/* removes arrows on inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}